@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Lobster&family=Luxurious+Script&family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --cor: 'Corinthia';
    --lob: 'Lobster';
    --lux: 'Luxurious Script';
    --pop: 'Poppins';
}

.container{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__nav{
    background: aqua;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.header__list{
    display: flex;
    gap: 50px;

}

.header__link{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    font-family:var(--lob);
}

.usmonali__content{
width: 100%;
height: 600px;
background: rgb(197, 24, 24);
}
.usmonali__right{
    padding-top:50px;
}
.usmonali__title{
    font-family: var(--lob);
    font-size: 50px;
    color: rgb(87, 82, 80);
    
}